* {
    box-sizing: border-box;
}

body {
    background-image: url("images/landing-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;                               
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
    padding: 20px;
    height: auto;
    width: 90vw;
}

h1 {
    color: #130B11;
    font-size: 4em;
    font-family: monospace, sans-serif;
}

h2 {
    color: #130B11;
    font-size: 3em;
    text-align: center;
    font-family: monospace, sans-serif;
    margin-bottom: 10px;
}

label {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
  }

.nav-bar-global {
    display: flex;
    align-items: center;
    height: 70px;
    width: 100vw;
    top: 0;
    left: 0;
}

.nav-bar-global a {
    color: #130B11;
    font-family: monospace, sans-serif;
    text-decoration: none;
    padding: 0 20px;
    font-size: 18px;
    transition: color 0.4s;
}

.nav-bar-global a:hover {
    color: #b44a4a;
}

.nav-bar-left {
    flex: 1 1 auto;
    display: flex;
}

.nav-bar-right {
    flex: 0 2 auto;
    display: flex;
    justify-content: flex-end;
}

.list-style-none {
    list-style: none;
}

.login-reg-window {
    display: flex;
    flex-direction: column;
    margin: 35px auto;
    width: 300px;
    max-width: 300px;
    font-family: monospace;
    background-color: #b44a4a;
    border-radius: 7px;
    padding: 30px;
}

.input-field {
    padding: 8px;
    border-radius: 7px;
    margin-bottom: 15px;
}

.submit-btn {
    background-color: #130B11;
    color: #FFFFFF;
    border: none;
    margin-top: 15px;
    padding: 8px;
    border-radius: 6px;
    font-family: monospace;
}

.error {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FF0000;
    font-family: monospace;
    font-style: italic;
    z-index: 10;
}

#map {
    height: 350px;
    width: 60vw;
    border-radius: 8px;
}