* {
    box-sizing: border-box;
}

body {
    background-image: url("images/landing-background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;                               
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    height: auto;
}

h1 {
    color: #130B11;
    font-size: 4em;
    font-family: monospace, sans-serif;
}

h2 {
    color: #130B11;
    font-size: 3em;
    text-align: center;
    font-family: monospace, sans-serif;
    margin-bottom: 20px;
}

h3 {
    color: #130B11;
    font-size: 2em;
    text-align: left;
    font-family: monospace, sans-serif;
    margin-bottom: 20px;
    margin-top: 10px;
    overflow: scroll;
}

a {
    color: #130B11;
    font-family: monospace, sans-serif;
    text-decoration: none;
    padding: 0 20px;
    font-size: 18px;
    transition: color 0.4s;
}

a:hover {
    color: #f2f2f2;
}

label {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
  }

  hr {
    color: #130B11;
    height: 2px;
    width: 70vw;
    margin-bottom: 20px;
  }

.nav-bar-global {
    display: flex;
    align-items: center;
    height: 70px;
    width: 100vw;
    top: 0;
    left: 0;
}

.nav-bar-left {
    flex: 1 1 auto;
    display: flex;
}

.nav-bar-right {
    flex: 0 2 auto;
    display: flex;
    justify-content: flex-end;
}

.list-style-none {
    list-style: none;
}

.login-reg-window {
    display: flex;
    flex-direction: column;
    margin: 35px auto;
    width: 300px;
    max-width: 300px;
    font-family: monospace;
    background-color: #b44a4a;
    border-radius: 7px;
    padding: 30px;
}

.template-div {
    display: block;
    margin: 20px;
    width: 70vw;
}

.div-leftside {
    display: flex;
    flex-direction: column;
    float: left;
    width: 35vw;
}

.div-rightside {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    width: 35vw;
}

.input-field {
    padding: 9px;
    border-radius: 7px;
    margin-bottom: 15px;
}

.table-input-field {
    padding: 9px;
    border: #130B11 1px solid;
    border-radius: 7px;
}

.table-input-field-small {
    max-width: 60px;
    padding: 9px;
    border: #130B11 1px solid;
    border-radius: 7px;
}

.submit-btn {
    background-color: #130B11;
    color: #FFFFFF;
    border: none;
    margin-top: 15px;
    padding: 9px;
    border-radius: 6px;
    font-family: monospace;
}

.table-submit-btn {
    background-color: #130B11;
    color: #FFFFFF;
    border: none;
    padding: 9px;
    border-radius: 7px;
    font-family: monospace;
}

.red-submit-btn {
    background-color: #FF0000;
    color: #FFFFFF;
    border: none;
    margin-top: 15px;
    padding: 9px;
    border-radius: 6px;
    font-family: monospace;
}

.surprise-btn {
    background-color: #bb7d00;
    color: #FFFFFF;
    border: none;
    margin-top: 10px;
    padding: 9px;
    border-radius: 6px;
    font-family: monospace;
}

.error {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FF0000;
    font-family: monospace;
    font-style: italic;
    z-index: 10;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h3 {
    margin: 0;
}

#map {
    display: block;
    height: 350px;
    border-radius: 10px;
}

#location-info {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    height: 185px;
    overflow: scroll;
}

#trips-home {
    display: block;
    margin: 0 auto;
    width: 60vw;
}

#trips-home input {
    width: 20vw;
}

#plan_new_trip {
    width: 19vw;
}

#planning-map {
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 1em 0;
    font-family: monospace, sans-serif;
    font-size: 16px;
    color: #333;
    overflow: hidden;
    border-radius: 10px;
}

th {
    background-color: #2e9200;
    color: white;
    font-weight: bold;
    padding: 12px;
    text-align: left;
}

td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #dedede;
}

tr:nth-child(odd) {
    background-color: #adadad;
}