{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}

    <form action="/dashboard" method="get"></form>
        <div class="dashboard-container">
            <h2>Welcome, {{ username }}!</h2>
            <hr>
            <div class="user-info">

                <!-- List of favourite locations -->
                <table>
                    <thead>Favourites</thead>
                    <tr>
                    <th>
                        Location
                    </th>
                    </tr>
                    {% for f in favourite_locations %}
                    <tr>
                    <td>
                        {{ f.location }}</li>
                    </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </form>

{% endblock %}
