{% extends "layout.html" %}

{% block title %}
    Explore
{% endblock %}

{% block content %}

    <form action="/explore" method="get"></form>
        <h2>Explore</h2>
        <hr>
        <div class="explore-window">
            <!-- Search -->
            <input class="input-field" id="location-search" autofocus autocomplete="off" type="text" placeholder="Choose a location">
            <button class="submit-btn" onclick="searchLocation()">Search</button>
            <button class="suprise-btn" onclick="supriseLocation()">Suprise Me</button>
        </div>
            <!-- Leaflet map -->
            <div id="map"></div>
    </form>

{% endblock %}