{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}

    <!-- Home Form -->
    <form action="/home" method="post">
        <div class="template-div">
            <div class="header">
                <h3>Welcome, {{ username }}!</h3>
                <a href="/logout">Log Out</a>
            </div>
            <hr>
            <div id="trips-home">
                <p id="planning-error" class="error"></p>
                <input id="city-input" name="city" class="input-field" autofocus autocomplete="off" placeholder="City" type="text">
                <input id="country-input" name="country" class="input-field" autocomplete="off" placeholder="Country" type="text">
                <button id="plan_new_trip" class="submit-btn" type="submit">
                    Plan a new trip
                </button>
                <table>
                    <tr>
                        <th>
                            Saved Trips
                        </th>
                    </tr>
                    {% for id, city, country in locations %}
                    <tr>
                        <td>
                            <a href="/planner/{{ id }}">{{ id }}. Trip to {{ city }}, {{ country }}</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </form>

    <!-- Explore Form -->
    <form action="/explore" method="post">
        <div id="explore-div" class="template-div">
            <hr>
            <h3>Explore New Destinations</h3>
            <div class="div-leftside">
                <!-- Leaflet map -->
                <div  id="map"></div>
            </div>
    
            <div class="div-rightside">
                <h3 id="location-name"></h3>
                <div id="location-info"></div>
                <button class="submit-btn" onclick="addToFavourites()" type="submit">Plan a Trip</button>
                <button class="surprise-btn" id="explore-surprise-btn" name="action" value="surprise" type="submit">Suggest New Destination</button>
            </div>
        </div>
    </form>

    <hr>
    <div class="footer">
        <a href="/settings">Account Settings</a>
    </div>

{% endblock %}
