<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link rel="stylesheet" href="static/styles.css">
        <link rel="preload" href="static/images/landing-background.jpg" as="image">
        <title>Adventure Planner | {% block title %}{% endblock %}</title>
    </head>
    <header class="app-header">
        <nav class="nav-bar-global">
            <div class="nav-bar-left">
                <ul class="list-style-none">
                    <li>
                        <a href="/">
                            <span>Adventure Planner</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="nav-bar-right">
                <ul class="list-style-none">
                    <li>
                        <a href="/register">
                            <span>Register</span>
                        </a>
                    </li>
                </ul>
                <ul class="list-style-none">
                    <li>
                        <a href="/login">
                            <span>Log In</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <body>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
    <script src="static/script.js"></script>
</html>