{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block content %}

    <form id="login-form" action="/login" method="post">
        <h2>Log In</h2>
        <div id="login-window" class="form-window">
            <p id="username-error" class="error"></p>
            <input id="username" name="username" class="input-field" autofocus autocomplete="off" placeholder="Username" type="text">
            <p id="password-error" class="error"></p>
            <input id="password" name="password" class="input-field" autocomplete="off" placeholder="Password" type="password">
            <button class="orange-btn" type="submit">Log In</button>
        </div>
    </form>

{% endblock %}