{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block content %}

    <form action="/login" method="post">
        <h2>Log In</h2>
        <p id="password-error"></p>

        <div class="login-reg-window">
            <label for="username">User</label>
            <input id="username" name="username" class="input-field" autofocus autocomplete="off" placeholder="Username" type="text">
            
            <label for="password">Password</label>
            <input id="password" name="password" class="input-field" autocomplete="off" placeholder="Password" type="password">
            
            <button class="submit-btn" type="submit">Log In</button>
        </div>
    </form>

{% endblock %}