{% extends "layout.html" %}

{% block title %}
    Planner
{% endblock %}

{% block content %}

    <form action="/planner" method="post"></form>
        <h3>Planner</h3>
        <hr>
        <div>
            <div>
                <input id="new_date" type="date">
                <input id="new_time" type="time">
                <input id="new_activity" placeholder="Add activity" type="text">
                <button type="submit">Add</button>
                <hr>
                <table>
                    <tr>
                        <th>
                            Date
                        </th>
                        <th>
                            Time
                        </th>
                        <th>
                            Activity
                        </th>
                    </tr>
                    <tr>
                        <td>

                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </form>

{% endblock %}