{% extends "layout.html" %}

{% block title %}
    Resgister
{% endblock %}

{% block content %}

    <form action="/register" method="post">
        <div class="login-reg-window">
            <label for="username">Username</label>
            <input id="register-username" name="username" class="input-field" autofocus autocomplete="off" placeholder="Username" type="text" required>

            <label for="email">Email</label>
            <input id="register-email" name="email" class="input-field" autofocus autocomplete="off" placeholder="example@email.com" type="email" required>
            
            <label for="password">Password</label>
            <input id="register-password" name="password" class="input-field" autocomplete="off" placeholder="Password" type="password" required>
            <p id="password-error"></p>

            <label for="confirm-password">Confirm Password</label>
            <input id="confirm-register-password" name="confirm-password" class="input-field" autocomplete="off" placeholder="Confirm Password" type="password" required>
            <p id="confirmation-error"></p>
            <button type="submit">Register</button>
        </div>
    </form>

{% endblock %}