{% extends "layout.html" %}

{% block title %}
    Resgister
{% endblock %}

{% block content %}

    <form id="register-form" action="/register" method="post">
        <h2>Register</h2>
        <p id="register-error" class="error"></p>
        <div id="register-window" class="form-window">
            <input id="register-username" name="username" class="input-field" autofocus autocomplete="off" placeholder="Username" type="text">
            <input id="register-email" name="email" class="input-field" autocomplete="off" placeholder="example@email.com" type="email">
            <input id="register-password" name="password" class="input-field" autocomplete="off" placeholder="Password" type="password">
            <input id="confirm-register-password" name="confirm-password" class="input-field" autocomplete="off" placeholder="Confirm Password" type="password">
            <button class="orange-btn" type="submit">Register</button>
        </div>
    </form>

{% endblock %}